.example-icon {
    padding: 0 14px;
}

.example-spacer {
    flex: 1 1 auto;
}

.button-icon-text {
    width: unset;
}

.icon-button {
    padding-right: 5px;
}

button {
    margin-right: 5px;
}

mat-toolbar {
    background-color: white;
    border-bottom: 1px solid rgba(0,0,0,.12);
}
