<mat-toolbar color="white">  
    <mat-toolbar-row class="toolbar-row">
      <span>Pass Wallet</span>
      <span class="example-spacer"></span>
      <button mat-button class="login-icon" aria-label="Example icon-button with heart icon">
        <mat-icon class="icon-button">login</mat-icon>
        <span>Login</span>
      </button>
      <button mat-button class="exit_to_app-icon" aria-label="Example icon-button with share icon">
        <mat-icon class="icon-button">exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </mat-toolbar-row>
</mat-toolbar>
  
