<h1 mat-dialog-title>Hi user</h1>
<div mat-dialog-content>
  <p>Please insert user login</p>
  <mat-form-field>
    <mat-label>Website</mat-label>
    <input matInput type="text" [(ngModel)]="data.website"> 
  </mat-form-field>
  <mat-form-field>
    <mat-label>Login</mat-label>
    <input matInput type="text" [(ngModel)]="data.login"> 
  </mat-form-field>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput type="text" [(ngModel)]="data.passwordHash">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <input matInput type="text" [(ngModel)]="data.description">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
</div>
