table{
    width: 100%;
   }
mat-card {
    height: 100%;
}

mat-card-title{
    text-align: left;
    margin-left: 10px;
}
h2{
    display: inline-block;
    margin-left: 10px;
}
.add-button {
    margin-left: 25px
}

.filter-field {
    display: inline-block;
    margin-left: 74%;
}

.example-spacer {
    flex: 1 1 auto;
}

mat-icon {
    margin-right: 5px;
}

.table {
    width: 100%;
}

.mat-row {
    height: auto;
}

.mat-cell {
    padding: 8px 8px 8px 0;
}

td , th {
    white-space: normal;
    word-wrap: break-word;
    max-width: 200px;
}
  